<!DOCTYPE html>
<html lang="en">
  <style>
    body {  
      background-image: url("istockphoto_bg.jpg");
      background-size: cover;
      height:100%;
        
      }
    h1 {  font-family: Copperplate, Papyrus, fantasy; color: white; text-align:left;
      padding-top: 50px;
      margin-top: 50px;
  }
    table {  background-color: rgba(255, 255, 255, 0.341); font-family: 'Courier New', Courier, monospace; height: 100vh; width: 100%;}
    form {  background-color: rgba(255, 255, 255, 0.341); font-family:'Times New Roman', Times, serif;}
           #column {
                float: left;
                width: 33.33%;
                min-height: 210px;
                padding: 0 10px;
                text-align: center
            }
            #row:after {
                display: table;
                content: "";
                clear: both
            }
            .ebox {
                margin: 30px auto 0;
                font: 17px "source sans pro",arial;
                color: #202020;
                text-align: center;
                line-height: 1.5;
                max-width: 350px
            }
            section#urlbox {
                margin: 0 auto 20px auto;
                max-width: 758px;
                box-shadow: 0 1px 4px #ccc;
                border-radius: 6px;
                padding: 10px 30px 5px;
                background: #fff;
                text-align: center
            }

            section#urlbox h1 {
                margin: 10px auto 30px auto
            }
            section#emailbox {
                margin: 0 auto 20px auto;
                max-width: 758px;
                box-shadow: 0 1px 4px #ccc;
                border-radius: 6px;
                padding: 10px 30px 5px;
                background: #fff;
                text-align: center
            }

            section#emailbox h2 {
                margin: 15px auto 20px auto
            }
  </style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>UrlShortener - Vbs</title>
</head>
<body>
  <div class="container">
    <h1>URL Shortener</h1>
    <p>
      URL Shortener is a free tool to shorten URLs and generate short links making it easy to share them on the web ...</p>
    <section>
      <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input required placeholder="Enter an Url to Shrink" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
        <button class="btn btn-success" type="submit">Shrink</button>
      </form>  
    </section id="urlbox">`
    <section>
    <table class="table table-striped table-responsive" style="table-layout:auto;">
      <thead>
        <tr> 
          <th style="width: 900px;">Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>" target="_blank"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>" target="_blank"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
    <div id="box">
      <div id="row">
          <div id="column">
              <div class="icon">
                  <img src="https://www.shorturl.at/img/icon-like.png"
                  >
              </div>
              <h3 class="aligncenter">Easy</h3>
              <p class="aligncenter">ShortURL is easy and fast, enter the long link to get your shortened link</p>
          </div>
          <div id="column">
              <div class="icon">
                  <img src="https://www.shorturl.at/img/icon-url.png">
              </div>
              <h3 class="aligncenter">Shortened</h3>
              <p class="aligncenter">Use any link, no matter what size, ShortURL always shortens</p>
          </div>
          <div id="column">
              <div class="icon">
                  <img src="https://www.shorturl.at/img/icon-responsive.png">
              </div>
              <h3 class="aligncenter">Devices</h3>
              <p class="aligncenter">Compatible with smartphones, tablets and desktop</p>
          </div>
      </div>
  </div>
  </div>
</body>
</html>